{% extends 'master.html' %}
{% load thumbnails %}
{% block title %}About {% endblock %}
{% block main %}
<h1>Walking allong the supposed Golden Path</h1>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p><p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>    
<h2>About this site</h2>
<p>Lorem ipsum dolor sit amet,<a href="http://www.djangoproject.com">Django</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit <a href="http://www.djangoproject.com">Matías </a>in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
{% endblock %}
{% block extra %}
<h2>Latest Series</h2>
<p>{{last_serie}}</p>
{% with last_serie.foto_set.all.1 as foto %}

<a href="{% url foto foto.id %}" class="sample">
   <img src="{{MEDIA_URL}}/{{foto.image|thumbnail:'150x150'}}" />
</a>
{% endwith %}
{% endblock %}
{% block nav %}
<ul>
    <li><a href="{% url work %}" >Work</a></li>
    <li><a class="selected" href="{% url about %}" >About</a></li>
    <li><a href="{% url contact %}" >Contact</a></li>

</ul>
{% endblock nav %}            
