{% extends 'work.html' %}
{% load thumbnails %}
{% block title %}{{object.name}} |{% endblock %}
{% block main %}
<h1>{{object.serie.name}}</h1>
<div class="img_detail">
     <img src="{{MEDIA_URL}}/{{object.image}}" 
          alt="{{object.name}} detail" />
</div>
{% endblock main %}
{% block extra %}
<a id="browse-link" href="{% url gallery object.serie.slug %}">Back to Gallery</a>
    <div class="img_navigation" >
        <a href="#" class="handle">
            <span>Drag me to see the detail on the bigger picture</span></a>
        <img src="{{MEDIA_URL}}/{{object.image|thumbnail:'110x110'}}" 
             alt="{{object.name}} navigation panel" />
    </div>
    <div id="img_detail" class="bottom"> 
    <h2>Detail</h2>
    <h3>{{object.name}}</h3>
    <p class="discreet">{{object.detail}}</p>
    </div>

{% endblock extra %}

