<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" 
      xml:lang="{{ LANGUAGE_CODE }}" 
      lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-type" 
          content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}Elian Hirsch</title>
    <link rel="stylesheet" 
          href="{{ MEDIA_URL }}/css/base.css" 
          type="text/css" 
          media="screen" />    
    <link rel="stylesheet" 
          href="{{ MEDIA_URL }}/css/layout.css" 
          type="text/css" 
          media="screen" />    
    <script src="{{ MEDIA_URL }}/js/jquery.js" 
            type="text/javascript" 
            language="javascript"></script>
    <script src="{{ MEDIA_URL }}/js/jquery.ui.js" 
            type="text/javascript" 
            language="javascript"></script>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            {% block main%}
            {% endblock %}

        </div>
        <div id="extra">
            {% block extra%}
            {% endblock %}
        </div>
        <div id="nav">
            <a id="logo" href="{% url index %}" rel="index">Elian Hirsch</a>
            {% block nav %}
            <ul>
                <li><a href="{% url work %}" rel="index">Work</a></li>
                <li><a href="{% url about %}" rel="index">About</a></li>
                <li><a href="{% url contact %}" rel="index">Contact</a></li>

            </ul>
            {% endblock nav %}            
            <a href="#" id="legal"><img src="{{ MEDIA_URL }}/img/cc_logo.jpg" alt="creative commons logo" />
            Some rights reserved
            </a>         
        </div>
   
    </div>
</body>

</html>
