{% extends 'work.html' %}
{% load thumbnails %}
{% block title %}Wellcome |{% endblock %}
{% block main %}

<h1>{{object.name}}</h1>
<p>{{object.description}}</p>
{% endblock %}
{% block extra %}
<a id="browse-link" href="{% url gallery object.slug %}">View Gallery</a>

<p class="gallery">
    {% with object.foto_set.all.1 as foto %}
    <a href="{% url foto foto.id %}" class="sample">
       <img src="{{MEDIA_URL}}/{{foto.image|thumbnail:'150x150'}}" />
    </a>
    {% endwith %}
    {% with object.foto_set.all.2 as foto %}
    <a href="{% url foto foto.id %}" class="sample">
       <img src="{{MEDIA_URL}}/{{foto.image|thumbnail:'150x150'}}" />
    </a>
    {% endwith %}
</p>
{% endblock %}
