{% extends 'master.html' %}
{% load thumbnails mptt_tags %}
{% block title %}Work List | {% endblock %}
{% block main %}
    {% for object in object_list %}
    <h1><a href="{% url serie object.category.slug object.slug %}">{{ object.name }}</a></h1>
    {% with object.foto_set.all.1 as foto %}
    <img class="work_pic" 
         src="{{MEDIA_URL}}/{{ foto.image|thumbnail:'110x110' }}" 
         alt="{{ foto }}">
    {%endwith%}
    <p>{{ object.description|truncatewords:'50' }}</p>
    <div class="visualClear"></div>
    {% empty %}
    Still uploading series to this category, please come back later
    {% endfor %}
    
{% endblock main %}
{% block extra %}{% include 'pager.html' %}{% endblock %}
{% block nav %}
<ul>
    <li><a class="selected" href="{% url work %}">Work</a></li>
    <li><a href="{% url about %}" rel="index">About</a></li>
    <li><a href="{% url contact %}" rel="index">Contact</a></li>
</ul>    
<ul>
    {% full_tree_for_model catalog.Category as categories %}
    {% for cat in categories %}
    <li>
        <a href="{% url work cat.slug %}"
           {% ifequal cat category %} class="selected" {%endifequal%}>
           {{cat}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock nav %}            

